<!-- 修改创建时间显示 -->
<% if (page.date_display) { %>
  <span class="post-time">
    <i class="fa fa-calendar"></i>
    创建时间: <%= page.date_display %>
  </span>
<% } else if (page.date) { %>
  <span class="post-time">
    <i class="fa fa-calendar"></i>
    创建时间: <%= page.date %>
  </span>
<% } %>

<!-- 添加最后更新时间显示 -->
<% if (page.last_updated_display) { %>
  <span class="post-update-time">
    <i class="fa fa-refresh"></i>
    最后更新: <%= page.last_updated_display %>
  </span>
<% } %>